<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HeartRate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6B8D01D31D3F23E20061BC7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B8D01E71D3F23E30061BC7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B8D01F21D3F23E30061BC7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
