<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DeleteCell.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6B4216941D2D43F30085F78C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B4216A81D2D43F30085F78C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B4216B31D2D43F30085F78C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
