<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Iamhere.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6B257C921D30E801004AAAD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B257CA61D30E802004AAAD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B257CB11D30E802004AAAD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
