<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OperationQueue.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6B78427B1D2CE034008B3961</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B78428F1D2CE035008B3961</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B78429A1D2CE035008B3961</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
