<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>File.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6BBC66D31D3D17C200178B1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BBC66E71D3D17C200178B1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BBC66F21D3D17C200178B1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
